SISCLINIC_API_BASE_URL=https://api.afrafepsaude.com.br
SISCLINIC_LOGIN_TOKEN=coloque_o_token_de_login_do_sisclinic_aqui

LOGIC_BASE_URL=https://webpacs.logicmed.com.br
LOGIC_UUID=seu_logic_uuid
LOGIC_CLIENT_ID=seu_logic_client_id
LOGIC_CLIENT_SECRET=seu_logic_client_secret

INTELITE_BASE_URL=http://ai.intelite.com.br:3004/api/Services
INTELITE_TOKEN=coloque_o_token_do_intelite_aqui
INTELITE_UNIDADE=sua_unidade_intelite
INTELITE_CNPJ=seu_cnpj_intelite
