VITE_API_BASE_URL=https://api.afrafepsaude.com.br
VITE_SISCLINIC_LOGIN_TOKEN=coloque_o_token_de_login_do_sisclinic_aqui

VITE_LOGIC_BASE_URL=https://webpacs.logicmed.com.br
VITE_LOGIC_UUID=seu_logic_uuid
VITE_LOGIC_CLIENT_ID=seu_logic_client_id
VITE_LOGIC_CLIENT_SECRET=seu_logic_client_secret

VITE_INTELITE_BASE_URL=http://ai.intelite.com.br:3004/api/Services
VITE_INTELITE_TOKEN=coloque_o_token_do_intelite_aqui
VITE_INTELITE_UNIDADE=sua_unidade_intelite
VITE_INTELITE_CNPJ=seu_cnpj_intelite
